{% include "header.html" %}


<!-- Main Content -->

<div class="container-fluid list-body">
    <div class="row">
        <div class="col-lg-6 col-md-8">
            <div class="about">
                <h1>About</h1>
                <hr>
                This web application project is a homework of <i>100 Days of Code: The Complete Python Pro Bootcamp for
                2022.</i>
                <ul>
                    <li>User need to log in to save todo list.</li>
                    <li>One user can have maximum of five todo lists, 10 tasks per list.</li>
                </ul>
                Reference
                <ul>
                    <li><a href="https://api.jquery.com/category/traversing/tree-traversal/">JQuery - Tree Traversal: Locate elements</a></li>
                    <li><a href="https://api.jquery.com/append/">JQuery - .append(): Add new todo lists and tasks</a></li>
                    <li><a href="https://jqueryui.com/sortable/">JQuery UI - Sortable: Make tasks sortable</a></li>
                    <li><a href="https://getbootstrap.com/docs/5.2/components/accordion/">Bootstrap - Accordion: Expand/collapse todo lists</a></li>
                    <li><a href="https://stackoverflow.com/questions/784586/convert-special-characters-to-html-in-javascript">Convert special characters to HTML in JavaScript - Stack Overflow</a></li>
                    <li><a href="https://stackoverflow.com/questions/27736122/how-to-insert-into-multiple-tables-to-mysql-with-sqlalchemy">How to insert into multiple tables to MySQL with sqlalchemy - Stack Overflow</a></li>
                    <li><a href="https://stackoverflow.com/questions/22610042/jquery-click-event-not-firing-on-the-element-created-dynamically-using-jquery">Jquery click event not firing on the element created dynamically using jquery - Stack Overflow</a></li>
                    <li><a href="https://stackoverflow.com/questions/13423646/using-jquery-with-jinja2-to-provide-onclick-event-inside-a-loop-on-each-element">Using Jquery with Jinja2 to provide onclick event inside a loop on each element - Stack Overflow</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
